* {
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
}

.Moncomp {
  text-align: center;
}

.MonArt {
  text-align: left;
  color: white;
  background-color: rgb(83, 145, 233);
}

.Monbutton {
  padding: 10px;
  border-color: blue;
  background-color: white;
  border-radius: 7px;
}

.ImgComp img {
  border-radius: 100%;
}
